body{
    background-image:linear-gradient(white,lightgreen);
}
#image{
    width:500px;
    height:500px;
}
h1{
    text-align: center;
     color: rgb(20, 221, 20);
    font-family: Cambria, Cochin, Georgia, Times, serif;
}
button{
    background-color:lightgreen;
    border: 1px solid lightgreen;
    border-radius: 5px;
    height: 50px;
    width: 20%;

}
